<div class="button demoCt">
    <h1>按钮风格</h1>
    <p>示例：</p>
    <button class="plb_ch sub">修改</button>
    <button class="plb_ch del">删除</button>
    <button class="plb_ch add">增加</button>
    <button class="plb_ch plm">公共</button>
    <button class="plb_ch plm1">公共</button>
    <button class="plb_ch plm2">公共</button>
    <button class="plb_ch plm3">公共</button>

    <button class="btn querybtn">查询</button>
    <button class="btn querybtn_all">查看全部</button>
    <button class="btn querybtn_all">重置</button>
    <p>代码：</p>
    <pre>
        <code>
            &lt;button class="plb_ch sub"&gt;修改&lt;/button&gt;
            &lt;button class="plb_ch del"&gt;删除&lt;/button&gt;
            &lt;button class="plb_ch add"&gt;增加&lt;/button&gt;
            &lt;button class="plb_ch plm"&gt;公共&lt;/button&gt;
            &lt;button class="plb_ch plm1"&gt;公共&lt;/button&gt;
            &lt;button class="plb_ch plm2"&gt;公共&lt;/button&gt;
            &lt;button class="plb_ch plm3"&gt;公共&lt;/button&gt;

            &lt;button class="btn querybtn">查询&lt;/button&gt;
            &lt;button class="btn querybtn_all">查看全部&lt;/button&gt;
            &lt;button class="btn querybtn_all">重置&lt;/button&gt;
        </code>
    </pre>

</div>