<div class="divContainer demoCt">
    <h1>div容器功能演示</h1>
    <p>示例：</p>
    <span>宽度整行高度自适应容器 / 宽度50%高度自适应容器 / 宽度33%高度自适应容器</span>
    <div class="wid_ct">
        <div class="wid_100"></div>
        <div class="wid_50"></div>
        <div class="wid_50"></div>
        <div class="wid_33"></div>
        <div class="wid_33"></div>
        <div class="wid_33"></div>
    </div>
    <p>代码：</p>
    <pre>
        <code>
            &lt;div class="wid_ct">
                &lt;div class="wid_100">&lt;/div>
                &lt;div class="wid_50">&lt;/div>
                &lt;div class="wid_50">&lt;/div>
                &lt;div class="wid_33">&lt;/div>
                &lt;div class="wid_33">&lt;/div>
                &lt;div class="wid_33">&lt;/div>
            &lt;/div>
        </code>
    </pre>



    <p>整体效果展示: </p>
    <div class="header_box">
        <div class="group_box">
            <div class="form_group">
                <label for="">请选择时间</label>
                <input type="text" onchange="" ng-model="subdataTime"
                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true});">
            </div>

            <div class="form_group">
                <label for="">轧辊类型</label>
                <select ng-model="params.sex">
                    <option value="">请选择</option>
                    <option ng-repeat="item in responseList" value="{{item.key}}">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="query_box">
            <button ng-click="test()" class="btn querybtn">查询</button>
            <button class="btn querybtn_all">查看全部</button>
            <button class="btn querybtn_all">重置</button>
        </div>
    </div>
    <div class="body_box">
        <div class="table_box">
            <table>
                <thead>
                <tr>
                    <th>轧辊编号</th>
                    <th>轧辊类型</th>
                    <th>轧辊状态</th>
                    <th>机架号</th>
                    <th>轧辊位置</th>
                    <th>配对棍号</th>
                    <th>配对时间</th>
                    <th>操作侧轴承箱号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in [1,2,3,4,5]">
                    <td>0035</td>
                    <td>工作轴</td>
                    <td>上机</td>
                    <td>R</td>
                    <td>上</td>
                    <td>0036</td>
                    <td>2019-12-19 17:26:12</td>
                    <td>s-318</td>
                    <td>
                        <button class="plb_ch sub">修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer_box">
        <div class="footer_group">
            <div class="footer_group_item">
                <label for="">轴承号</label>
                <input type="text">
            </div>
            <div class="footer_group_item">
                <label for="">轴承类型</label>
                <input type="text">
            </div>
            <div class="footer_group_item">
                <label for="">对应机架号</label>
                <input type="text">
            </div>
        </div>
        <div class="footer_group_btn">
            <button>导出</button>
            <button>添加</button>
            <button>修改</button>
            <button>删除</button>
        </div>
    </div>
    <p>局部效果展示及示例: </p>
    <span>搜索查询示例：</span>
    <div class="header_box">
        <div class="group_box">
            <div class="form_group">
                <label for="">请选择时间</label>
                <input type="text" onchange="" ng-model="subdataTime"
                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true});">
            </div>

            <div class="form_group">
                <label for="">轧辊类型</label>
                <select ng-model="params.sex">
                    <option value="">请选择</option>
                    <option ng-repeat="item in responseList" value="{{item.key}}">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="query_box">
            <button ng-click="test()" class="btn querybtn">查询</button>
            <button class="btn querybtn_all">查看全部</button>
            <button class="btn querybtn_all">重置</button>
        </div>
    </div>
    <p>代码：</p>
    <pre>
        <code>
            &lt;div class="header_box">
                &lt;div class="group_box">
                    &lt;div class="form_group">
                        &lt;label for="">请选择时间&lt;/label>
                        &lt;input type="text" onchange="" ng-model="subdataTime"
                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true});">
                    &lt;/div>
                    &lt;div class="form_group">
                        &lt;label for="">轧辊类型&lt;/label>
                        &lt;select ng-model="params.sex">
                            &lt;option value="">请选择&lt;/option>
                            &lt;option >sss&lt;/option>
                        &lt;/select>
                    &lt;/div>
                &lt;/div>
                &lt;div class="query_box">
                    &lt;button ng-click="test()" class="btn querybtn">查询&lt;/button>
                    &lt;button class="btn querybtn_all">查看全部&lt;/button>
                    &lt;button class="btn querybtn_all">重置&lt;/button>
                &lt;/div>
            &lt;/div>
        </code>
    </pre>

    <span>表格内容示例：</span>
    <div class="body_box">
        <div class="table_box">
            <table>
                <thead>
                <tr>
                    <th>轧辊编号</th>
                    <th>轧辊类型</th>
                    <th>轧辊状态</th>
                    <th>机架号</th>
                    <th>轧辊位置</th>
                    <th>配对棍号</th>
                    <th>配对时间</th>
                    <th>操作侧轴承箱号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in [1,2,3,4,5]">
                    <td>0035</td>
                    <td>工作轴</td>
                    <td>上机</td>
                    <td>R</td>
                    <td>上</td>
                    <td>0036</td>
                    <td>2019-12-19 17:26:12</td>
                    <td>s-318</td>
                    <td>
                        <button class="plb_ch sub">修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>代码：</p>
    <pre>
        <code>
            &lt;div class="body_box">
                &lt;div class="table_box">
                    &lt;table>
                        &lt;thead>
                            &lt;tr>
                                &lt;th>轧辊编号&lt;/th>
                                &lt;th>轧辊类型&lt;/th>
                                &lt;th>轧辊状态&lt;/th>
                                &lt;th>机架号&lt;/th>
                                &lt;th>轧辊位置&lt;/th>
                                &lt;th>配对棍号&lt;/th>
                                &lt;th>配对时间&lt;/th>
                                &lt;th>操作侧轴承箱号&lt;/th>
                                &lt;th>操作&lt;/th>
                            &lt;/tr>
                        &lt;/thead>
                        &lt;tbody>
                            &lt;tr ng-repeat="item in [1,2,3,4,5]">
                                &lt;td>0035&lt;/td>
                                &lt;td>工作轴&lt;/td>
                                &lt;td>上机&lt;/td>
                                &lt;td>R&lt;/td>
                                &lt;td>上&lt;/td>
                                &lt;td>0036&lt;/td>
                                &lt;td>2019-12-19 17:26:12&lt;/td>
                                &lt;td>s-318&lt;/td>
                                &lt;td>
                                    &lt;button class="plb_ch sub">修改&lt;i class="fa fa-eyedropper">&lt;/i>&lt;/button>
                                &lt;/td>
                            &lt;/tr>
                        &lt;/tbody>
                    &lt;/table>
                &lt;/div>
            &lt;/div>
        </code>
    </pre>

    <span>底部内容示例：</span>
    <div class="footer_box">
        <div class="footer_group">
            <div class="footer_group_item">
                <label for="">轴承号</label>
                <input type="text">
            </div>
            <div class="footer_group_item">
                <label for="">轴承类型</label>
                <input type="text">
            </div>
            <div class="footer_group_item">
                <label for="">对应机架号</label>
                <input type="text">
            </div>
        </div>
        <div class="footer_group_btn">
            <button>导出</button>
            <button>添加</button>
            <button>修改</button>
            <button>删除</button>
        </div>
    </div>
    <pre>
        <code>
            &lt;div class="footer_box">
                &lt;div class="footer_group">
                    &lt;div class="footer_group_item">
                        &lt;label for="">轴承号&lt;/label>
                        &lt;input type="text">
                    &lt;/div>
                    &lt;div class="footer_group_item">
                        &lt;label for="">轴承类型&lt;/label>
                        &lt;input type="text">
                    &lt;/div>
                    &lt;div class="footer_group_item">
                        &lt;label for="">对应机架号&lt;/label>
                        &lt;input type="text">
                    &lt;/div>
                &lt;div class="footer_group_btn">
                    &lt;button>导出&lt;/button>
                    &lt;button>添加&lt;/button>
                    &lt;button>修改&lt;/button>
                    &lt;button>删除&lt;/button>
                &lt;/div>
            &lt;/div>
        </code>
    </pre>
</div>