<div class="body_box">
    <div class="information_box"></div>
</div>
<div class="csp body_box">
    <div class="animation">
        <div class="roll_one" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'0')">
            <!--s1-->
            <div style="{{animation_time.s1_big}}" class="s1_top_big"></div>
            <div style="{{animation_time.s1_small}}" class="s1_top_small"></div>
            <div style="{{animation_time.s1_small}}" class="s1_bottom_small"></div>
            <div style="{{animation_time.s1_big}}" class="s1_bottom_big"></div>
            <div class="s1_rotate_ding"></div>
            <div class="s1_fugai"></div>
            <div class="s1_yuanzhu"></div>
            <div class="enter_temper">入口温度: XXX</div>
        </div>
        <div class="roll_two" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'1')">
            <!--s2-->
            <div style="{{animation_time.s2_big}}" class="s2_top_big"></div>
            <div style="{{animation_time.s2_small}}" class="s2_top_small"></div>
            <div style="{{animation_time.s2_small}}" class="s2_bottom_small"></div>
            <div style="{{animation_time.s2_big}}" class="s2_bottom_big"></div>
            <div class="s2_rotate_ding"></div>
            <div class="s2_fugai"></div>
        </div>
        <div class="roll_three" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'2')">
            <!--s3-->
            <div style="{{animation_time.s3_big}}" class="s3_top_big"></div>
            <div style="{{animation_time.s3_small}}" class="s3_top_small"></div>
            <div style="{{animation_time.s3_small}}" class="s3_bottom_small"></div>
            <div style="{{animation_time.s3_big}}" class="s3_bottom_big"></div>
            <div class="s3_rotate_ding"></div>
            <div class="s3_fugai"></div>
        </div>
        <div class="roll_four" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'3')">
            <!--s4-->
            <div style="{{animation_time.s4_big}}" class="s4_top_big"></div>
            <div style="{{animation_time.s4_small}}" class="s4_top_small"></div>
            <div style="{{animation_time.s4_small}}" class="s4_bottom_small"></div>
            <div style="{{animation_time.s4_big}}" class="s4_bottom_big"></div>
            <div class="s4_rotate_ding"></div>
            <div class="s4_fugai"></div>
        </div>
        <div class="roll_five" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'4')">
            <!--s5-->
            <div style="{{animation_time.s5_big}}" class="s5_top_big"></div>
            <div style="{{animation_time.s5_small}}" class="s5_top_small"></div>
            <div style="{{animation_time.s5_small}}" class="s5_bottom_small"></div>
            <div style="{{animation_time.s5_big}}" class="s5_bottom_big"></div>
            <div class="s5_rotate_ding"></div>
            <div class="s5_fugai"></div>
        </div>
        <div class="roll_six" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'5')">
            <!--s6-->
            <div style="{{animation_time.s6_big}}" class="s6_top_big"></div>
            <div style="{{animation_time.s6_small}}" class="s6_top_small"></div>
            <div style="{{animation_time.s6_small}}" class="s6_bottom_small"></div>
            <div style="{{animation_time.s6_big}}" class="s6_bottom_big"></div>
            <div class="s6_rotate_ding"></div>
            <div class="s6_fugai"></div>
        </div>
        <div class="roll_seven" ng-mouseOver="ngMouseOver()" ng-mouseOut="ngMouseOut()" ng-mouseMove="ngMouseMove($event,'6')">
            <!--s5-->
            <div style="{{animation_time.s7_big}}" class="s7_top_big"></div>
            <div style="{{animation_time.s7_small}}" class="s7_top_small"></div>
            <div style="{{animation_time.s7_small}}" class="s7_bottom_small"></div>
            <div style="{{animation_time.s7_big}}" class="s7_bottom_big"></div>
            <div class="s7_rotate_ding"></div>
            <div class="s6_fugai"></div>
            <div class="out_temper">出口温度: XXX</div>
        </div>

        <div class="pos_box">
            <div class="steel"></div>
            <div class="steel_1"></div>
        </div>
    </div>
    <div class="diog_open">

    </div>
</div>
<div class="body_box">
    <div class="information_box"></div>
</div>
<div class="body_box">
    <div class="echart_box">
        <div class="echart_item"></div>
        <div class="echart_item"></div>
        <div class="echart_item"></div>
        <div class="echart_item"></div>
    </div>

</div>