<div class="navigation">
    <div ng-if = "param.navigationTopFlag" class="navgition_top">
        <div class="title" ng-show="none">{{projectName}}</div>
        <div class="top_nav">
            <!--<div class="now_time">{{nowdate |nowdateFom}}</div>-->
            <div class="now_time" ng-class="{true : 'time_switch_hide',false : 'time_switch_show' }[param.leftSwitch]">ScriptTao</div>
            <div class="nav_list">
                <div class="close_fl" ng-click="leftSwitch()">
                    <i class="fa fa-align-justify"></i>
                </div>
                <ul class="nav_list_ul">
                    <li  ng-click="queryTwo(item)" ng-class="{'check_one_sty' : param.oneStyle == item.menu_name}" ng-repeat="item in navListOne">
                        <e></e>
                        <!--<i class="fa  fa-street-view"></i>-->
                        {{item.menu_name}}
                    </li>
                </ul>
                <div class="login_info">
                    <ul>
                        <!--<li ng-mouseenter = "teamInformationenter()" ng-mouseleave = "teamInformationleave()">班组信息</li>-->
                        <li>欢迎：{{userName}}</li>
                        <li ng-click="logout()">
                            <i class="fa fa-dot-circle-o"></i>
                            退出
                        </li>
                    </ul>
                </div>
                <!--班组信息-->
                <!--<div ng-if="param.teamInformationFlag" class="team_info">
                    <i class="triangle"></i>
                    <p>班组信息</p>
                    <ul>
                        <li>现班：<span>白班</span></li>
                        <li>现班：<span>丙班</span></li>
                        <li>钢水总重：<span>1413.1</span></li>
                        <li>方坯总重：<span>14</span></li>
                        <li>水总重：<span>14</span></li>
                        <li>煤气：<span>14</span></li>
                        <li>空气：<span>14</span></li>
                        <li>中间包保护粉：<span>14</span></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
    <div ng-if = "param.navigationLeftFlag" ng-class="{true : 'navigation_left_switch_show',false : 'navigation_left_switch_hide' }[param.leftSwitch]" class="navigation_left">
        <div class="left_nav">
            <!--<div class="user_info">
                <img src="images/angang.jpg" alt="">
                &lt;!&ndash;<img src="images/header_icon_old.png" alt="">&ndash;&gt;
                <span>你好! {{userName}}，欢迎登陆</span>
            </div>-->
            <div class="nav_list">
                <!--二级菜单-->
                <ul>
                    <li ng-repeat="item in twoList"  ng-click="twoPageGo(item)" ng-class="{'check_two_sty{{$index}}':param.twoStyle == item.menu_url}" >
                        <div class="two_b">
                            <e></e>
                            <i class="fa"></i>
                            <span >{{item.menu_name}}</span>
                        </div>
                        <!--三级菜单-->
                        <ul ng-if="param.threeNavFlag == item.indocno">
                            <li ng-click="threePageGo(item3)" ng-class="{'check_two_sty':param.threeStyle == item3.menu_url}"  ng-repeat="item3 in thirdList">
                                <span>{{item3.menu_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--<div class="bk_info">
                &lt;!&ndash;<img src="images/header_icon_old.png" alt="">&ndash;&gt;
                <img src="images/header_icon.png" alt="">
                <span>北京科技大学工程技术研究院</span>
            </div>-->

        </div>
        <div class="two_line"></div>
    </div>
    <!--中心切换区域-->
    <div ui-view id="ui_view" ng-class="{true : 'ui_view_show',false : 'ui_view_hide' }[param.leftSwitch]"></div>
   <!-- <div class="footer">
        <p>报警信息：2016-06-02 09:25:52  1002  PDR  收到扎线心跳电文</p>
        &lt;!&ndash;<p>版权所有：北京科技大学工程技术研究院</p>&ndash;&gt;
        &lt;!&ndash;<p>电话：010-62332598 传真：010-62332947 通讯地址：北京市海淀区学院路30号，100083</p>
        <p>电子信箱：bkdgyy@ustb.edu.cn</p>&ndash;&gt;
    </div>-->
</div>

<script  type="text/ng-template" id="logout">
    <div class="public_sure_cancel_cont">
        <div class="tip">确定退出登录吗?</div>
        <div class="btn_container">
            <button class="btn_cancel" ng-click="cancel()">取消</button>
            <button class="btn_sure" ng-click="sure()">确定</button>
        </div>
    </div>
</script>

