<div class="login">
    <div class="login_content">
        <div class="logo_info">
            <!--<div class="logo_img">
                <a href="http://nercar.ustb.edu.cn/">北科工研</a>
            </div>-->
            <div class="project_name">{{projectName}}</div>
            <div class="logo_img">
                <a href="http://nercar.ustb.edu.cn/"></a>
            </div>
        </div>
        <div class="login_input">
            <p>用户登录</p>
            <div class="input_list">
                <input ng-model="param.userName" ng-class="{true:'username_check',false:'input_border'}[param.userNameFlag]" type="text" class="username" placeholder="请输入帐号">
                <input ng-model="param.passWord" ng-class="{true:'username_check',false:'input_border'}[param.passWordFlag]" type="password" class="password" placeholder="请输入密码">
                <button ng-click="goLogin()" class="login_btn">登录</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <span></span>
        <p>版权所有：北京科技大学工程技术研究院</p>
        <p>电话：010-62332598 传真：010-62332947 通讯地址：北京市海淀区学院路30号，100083</p>
        <p>电子信箱：bkdgyy@ustb.edu.cn</p>
    </div>
</div>