<div class="loading">
    <div class="wrapper">
        <div class="loading-box">
            <div class="loading-style-1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_1">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_2">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_3">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_4">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-5">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_5">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-6">
                <div><span></span></div>
                <div><span></span></div>
                <div><span></span></div>
                <div><span></span></div>
            </div>
            <button id="style_6">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-7">
                <span></span>
            </div>
            <button id="style_7">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-8">
                <div><span></span></div>
                <div><span></span></div>
                <div><span></span></div>
            </div>
            <button id="style_8">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-9">
                <span></span>
            </div>
            <button id="style_9">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-10">
                <span></span>
            </div>
            <button id="style_10">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-11">
                <span></span>
            </div>
            <button id="style_11">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-12">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_12">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-13">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_13">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-14">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_14">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-15">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_15">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-16">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_16">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-17">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_17">获取代码</button>
        </div>
        <div class="loading-box">
            <div class="loading-style-18">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="style_18">获取代码</button>
        </div>
    </div>
</div>