<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>div容器功能演示</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>div容器功能演示</h1>
        <p class="lead">div容器实现一个简单的盒子容器示例</p>
    </div>

    <div class="ustb-container">
        <p>这个容器占用了一整行</p>
    </div>

    <div class="ustb-container ustb-inline">
        <p>这个容器会根据页面大小自定决定是否排列成一行</p>
    </div>

    <div class="ustb-container ustb-inline">
        <p>这个容器会根据页面大小自定决定是否排列成一行</p>
    </div>

    <div class="ustb-container ustb-inline">
        <p>这个容器会根据页面大小自定决定是否排列成一行</p>
    </div>


    <h3>基本使用方法</h3>
    <p>容器使用类ustb-container标识，如果希望多个容器能够排列在一行，需要增加ustb-inline类别，示例如下</p>
    <pre><code class="html">
    &lt;link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" href="../../jquery-ui-1.12.1/jquery-ui.min.css"&gt;
    &lt;link rel="stylesheet" href="../../css/ustb.css"&gt;

    &lt;div class="ustb-container"&gt;
        &lt;p&gt;这个容器占用了一整行&lt;/p&gt;
    &lt;/div&gt;

    &lt;div class="ustb-container ustb-inline"&gt;
        &lt;p&gt;这个容器会根据页面大小自定决定是否排列成一行&lt;/p&gt;
    &lt;/div&gt;

    &lt;div class="ustb-container ustb-inline"&gt;
        &lt;p&gt;这个容器会根据页面大小自定决定是否排列成一行&lt;/p&gt;
    &lt;/div&gt;

    &lt;div class="ustb-container ustb-inline"&gt;
        &lt;p&gt;这个容器会根据页面大小自定决定是否排列成一行&lt;/p&gt;
    &lt;/div&gt;
    </code></pre>

    <div style="height:300px;"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();
</script>
</html>