<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热力图功能演示</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../DataTables/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>热力图使用方法演示</h1>
        <p class="lead">基于开源eCharts实现</p>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档的header区域引入样式文件，在body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
&lt;link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"&gt;
&lt;link rel="stylesheet" type="text/css" href="../../DataTables/datatables.css"&gt;
&lt;link rel="stylesheet" href="../../highlight/styles/rainbow.css"&gt;
&lt;link rel="stylesheet" href="../../css/ustb.css"&gt;

&lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
&lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script src="../../highlight/highlight.pack.js"&gt;&lt;/script&gt;
&lt;script src="../../echarts/echarts-3.8.0.js"&gt;&lt;/script&gt;
&lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
&lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>创建用于展示图表的html容器，其样式大小按照html规范设置</p>
    <pre><code> &lt;div id="chart" style="width: 600px;height:500px;"&gt;&lt;/div&gt;
    </code></pre>

    <p>绑定标签数据，展示图表</p>
    <pre><code>
$(document).ready(function(){
    makeHeatmap();
});

function makeHeatmap() {
    //
    // 创建heatmap，为了与前版区分，此处名称为makeHeatmap2
    //
    ustb.makeHeatmap2("#chart", {
        "ustb": {
            // tag名称
            "tag": "F3Curve",

            // 数据，如果此项不为空，则tag项会被忽略，实际本页面例子采用的是 dataList不为空的方式
            // "dataList": response.dataList,

            // x坐标，y坐标，t对应的属性
            "x": "x",
            "y": "y",
            "t": "T",

            // 最大和最小数值的配置，如果未配置，则默认使用tag中获取到的最大值和最小值
            "min": 0,
            "max": 100
        }
    });
}
    </code></pre>

    <button id="btnGenrateData" class="btn btn-default">随机改变标签值</button>
    <div id="chart" style="width:300px; height: 300px;">
    </div>

    <div style="height:50px"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../echarts/echarts-3.8.0.js"></script>
<script src="../../heatmap/heatmap.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function(){
        makeHeatmap();

        $("#btnGenrateData").click(function() {
            generateCurveData();
        });

//        setInterval(function() {
//            generateCurveData();
//        }, 10000);
    });

    function makeHeatmap() {
        ustb.watch(["F3Curve"], function(response){
            if (response.dataList != null) {
                //
                // 创建heatmap，为了与前版区分，此处名称为makeHeatmap2
                //
                ustb.makeHeatmap2("#chart", {
                    "ustb": {
                        // tag名称
                        // "tag": "F3Curve",

                        "dataList": response.dataList,

                        // x坐标，y坐标，t对应的属性
                        "x": "x",
                        "y": "y",
                        "t": "T",

                        // 最大和最小数值的配置，如果未配置，则默认使用tag中获取到的最大值和最小值
                        "min": 0,
                        "max": 100
                    }
                });
            }
        });

    }

    function generateCurveData() {
        var data = [];
        for (var i=0; i<100; i++) {
            for (var j=0; j<100; j++) {
                var t = (Math.random() * 100);
                data.push({
                    "x": i,
                    "y": j,
                    "T": t
                });
            }
        }

        var tag = {
            "name": "F3Curve",
            "dataList": data
        };

        ustb.sendTag([ tag ]);
    }

</script>
</html>