<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对话框</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../DataTables/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>对话框使用方法展示页面</h1>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档的header区域引入样式文件，在body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
    &lt;link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" href="../../highlight/styles/rainbow.css"&gt;
    &lt;link rel="stylesheet" href="../../css/ustb.css"&gt;

    &lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
    &lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
    &lt;script src="../../highlight/highlight.pack.js"&gt;&lt;/script&gt;
    &lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
    &lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>需要弹出提示框时，调用如下代码即可：</p>
    <pre><code>
    ustb.showMessage("标题", "这里是要显示的具体内容，可以写html");
    </code></pre>

    <div class="well">
        <button class="btn btn-primary">弹出对话框</button>
    </div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script type="text/javascript" charset="utf8" src="../../DataTables/datatables.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $("button").click(function() {
        ustb.showMessage("标题", "这里是要显示的具体内容，可以写html");
    });
</script>
</html>