<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进度条</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../DataTables/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>进度条使用方法</h1>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档的header区域引入样式文件，在body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
    &lt;link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" href="../../highlight/styles/rainbow.css"&gt;
    &lt;link rel="stylesheet" href="../../css/ustb.css"&gt;

    &lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
    &lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
    &lt;script src="../../highlight/highlight.pack.js"&gt;&lt;/script&gt;
    &lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
    &lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>进度条基于div标签创建，创建进度条前，需在html中创建进度条div</p>
    <pre><code>
    &lt;div id="progress"/&gt;
    </code></pre>

    <p>创建进度条代码如下：</p>
    <pre><code>
     $(document).ready(function() {
        // 创建进度条并设置进度，进度仅支持设置进度方法。进度值最大为100，最小为0
        var progressBar = ustb.makeProgressBar("#progress");
        progressBar.setProgress("10")
     });
    </code></pre>

    <div class="well">
       <div id="progress"/>
    </div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script type="text/javascript" charset="utf8" src="../../DataTables/datatables.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function() {
        // 创建进度条，进度仅支持设置进度方法。进度值最大为100，最小为0
        var progressBar = ustb.makeProgressBar("#progress");
        progressBar.setProgress("10")
    });
</script>
</html>