<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>执行数据库查询</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../DataTables/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>执行数据库查询</h1>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
&lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
&lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script src="../../DataTables/datatables.js"&gt;&lt;/script&gt;
&lt;script src="../../echarts/echarts-3.8.0.js"&gt;&lt;/script&gt;
&lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
&lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>导出查询结果</p>
    <pre><code>
    $("#btnCall").click(function () {
        var data = {
        // 根据后台配置，可以选择mysql，oracle和sqlserver
        "db": "mysql",

        // sql语句
        "sql": "select * from demo",

        // 模板名称，如果不使用模板则填入空
        "template": "t1"
        };

        // 执行后浏览器就会下载文件
        ustb.queryForExcel(data);
    });
    </code></pre>

    <button id="btnCall" class="btn btn-primary">执行</button>

    <div style="height:300px;"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../echarts/echarts-3.8.0.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function () {
        $("#btnCall").click(function () {
            var data = {
                // 根据后台配置，可以选择mysql，oracle和sqlserver
                "db": "mysql",

                // sql语句
                "sql": "select * from demo",

                // 模板名称，如果不使用模板则填入空
                "template": "t1"
            };

            // 执行后浏览器就会下载文件
            ustb.queryForExcel(data);
        });
    });

</script>
</html>