<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单选框</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>单选框</h1>
        <p class="lead">单选框功能演示</p>
    </div>

    <div class="well">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                选项1
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                选项2
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                选项3已经被禁用
            </label>
        </div>

        <div style="margin-top:20px;">
            <button id="getText" class="btn btn-default">获取值</button>
            <button id="setText" class="btn btn-default">设置值</button>
        </div>
    </div>

    <p>
        单选框使用input标签实现，type设置为radio。name相同的单选框为同一组单选框。
    </p>

    <pre><code>
    &lt;div class="radio">
        &lt;label&gt;
            &lt;input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked&gt;
            选项1
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="radio"&gt;
        &lt;label&gt;
            &lt;input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"&gt;
            选项2
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="radio disabled"&gt;
        &lt;label&gt;
            &lt;input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled&gt;
            选项3已经被禁用
        &lt;/label&gt;
    &lt;/div&gt;
    </code></pre>

    <p>
        获取radio值需要通过jquery的选择器选择被选中的的radio，然后获取其值。
        相关Javascript方法如下。
    </p>
    <pre><code>
    $(document).ready(function () {
        $("#getText").click(function() {
            var text = $("input[type='radio']:checked").val();
            alert(text);
        });

        $("#setText").click(function() {
            $("input[type='radio'][value='option2']").prop("checked", "checked");
        });
    });
    </code></pre>
    <div style="height:300px;"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function () {
       $("#getText").click(function() {
           var text = $("input[type='radio']:checked").val();
           alert(text);
       });

        $("#setText").click(function() {
            $("input[type='radio'][value='option2']").prop("checked", "checked");
        });
    });

</script>
</html>