<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sendTag</title>
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../DataTables/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="sendTag">
        <h1>getHmiData</h1>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
&lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
&lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script src="../../DataTables/datatables.js"&gt;&lt;/script&gt;
&lt;script src="../../echarts/echarts-3.8.0.js"&gt;&lt;/script&gt;
&lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
&lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>获取返回并显示在页面上</p>
    <pre><code>
    var tags = [
        {
            "name": "RECStretchParamF1",
            "value": ustb.randomStr()
        },
        {
            "name": "RM_SCAN.CoilNo",
            "value": ustb.randomStr()
        },
        {
            "name": "RM_SCAN.TotalPass",
            "value": ustb.randomInt()
        },
        {
            "name": "RM_SCAN.R1Speed",
            "value": ustb.randomFloat()
        },
        {
            "name": "F1Curve",
            "dataList": [
                {
                    "Text": ustb.randomStr(),
                    "Value": ustb.randomInt()
                },
                {
                    "Text": ustb.randomStr(),
                    "Value": ustb.randomInt()
                }
            ]
        }
    ];

    ustb.sendTag(tags, function (response) {
        $("#result").html(JSON.stringify(response, null, 4));
    });
    </code></pre>

    <button id="btnCall" class="btn btn-primary">执行</button>

    <pre><code id="result">
    </code></pre>

    <table class="table table-stripped">
        <thead>
        <tr>
            <td>字段</td>
            <td>类型</td>
            <td>含义</td>
            <td>备注</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>code</td>
            <td>int</td>
            <td>错误码</td>
            <td>请参考错误码表</td>
        </tr>
        <tr>
            <td>msg</td>
            <td>string</td>
            <td>错误信息</td>
            <td>与错误码对应的错误信息</td>
        </tr>
        <tr>
            <td>extraMsg</td>
            <td>string</td>
            <td>额外的错误信息</td>
            <td>通常情况下，额外的错误信息更有用</td>
        </tr>
        <tr>
            <td>data</td>
            <td>未知</td>
            <td>本次请求返回的数据</td>
            <td>数据类型依据接口而定</td>
        </tr>
        </tbody>
    </table>

    <p>
        返回数据为json数据，其中包含了错误码和错误信息字段。可以使用以下方法判断调用是否成功并取得错误码：
    </p>

    <pre><code>
    ustb.success(response)  // 成功则返回true，失败则返回false
    ustb.getErrorMessage(response) // 首先获取extraMsg，如果extraMsg为空，则获取msg
    </code></pre>

    <p>
        本接口仅返回执行成功与否。如果希望看到执行的效果，请执行getHmiData查看。
    </p>

    <div style="height:300px;"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../echarts/echarts-3.8.0.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function () {
        $("#btnCall").click(function () {
            var tags = [
                {
                    "name": "RECStretchParamF1",
                    "value": ustb.randomStr()
                },
                {
                    "name": "RM_SCAN.CoilNo",
                    "value": ustb.randomStr()
                },
                {
                    "name": "RM_SCAN.TotalPass",
                    "value": ustb.randomInt()
                },
                {
                    "name": "RM_SCAN.R1Speed",
                    "value": ustb.randomFloat()
                },
                {
                    "name": "F1Curve",
                    "dataList": [
                        {
                            "Text": ustb.randomStr(),
                            "Value": ustb.randomInt()
                        },
                        {
                            "Text": ustb.randomStr(),
                            "Value": ustb.randomInt()
                        }
                    ]
                }
            ];
            ustb.sendTag(tags, function (response) {
                $("#result").html(JSON.stringify(response, null, 4));
                hljs.highlightBlock($("#result").get(0));
            });
        });
    });

</script>
</html>