<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slider控件功能演示</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/bootstrap-slider.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Slider功能演示</h1>
        <p class="lead">实现滑动条的功能，更多示例请参考 http://seiyria.com/bootstrap-slider/</p>
    </div>

    <div class="well">
        <input id="sliderId" data-slider-id='slider_id' type="text"
               data-slider-min="0" data-slider-max="20"
               data-slider-step="1" data-slider-value="14"/>
        <span id="sliderVal" style="margin-left: 50px;"></span>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档的header区域引入样式文件，在body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
&lt;link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"&gt;
&lt;link rel="stylesheet" href="../../css/bootstrap-slider.css"&gt;
&lt;link rel="stylesheet" href="../../css/ustb.css"&gt;

&lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
&lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script src="../../js/bootstrap-slider.js"&gt;&lt;/script&gt;
&lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
&lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>使用input创建slider元素，并创建显示slider值的span</p>
    <pre><code>
    &lt;div class="well"&gt;
        &lt;input id="sliderId" data-slider-id='slider_id' type="text"
               data-slider-min="0" data-slider-max="20"
               data-slider-step="1" data-slider-value="14"/&gt;
        &lt;span id="sliderVal" style="margin-left: 50px;"&gt;&lt;/span&gt;
    &lt;/div&gt;
    </code></pre>

    <p>在文档加载完毕后，创建slider控件</p>
    <pre><code>
    $(document).ready(function () {
        $('#sliderId').slider({
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        });

        $("#sliderId").on("slide", function(slide){
            $("#sliderVal").text(slide.value);
        });

        // 获取slider值的方法
        var sliderValue = $("#sliderId").slider("getValue");
        $("#sliderVal").text(sliderValue);
    });

    </code></pre>

    <p>Slider组件的属性在input中定义，属性定义以data-slider-打头。可以定制的属性包括。属性也可以在调用slider()函数时传入。</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>属性</td>
            <td>类型</td>
            <td>默认值</td>
            <td>说明</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>id</td>
            <td align="center">string</td>
            <td align="center">''</td>
            <td align="left">set the id of the slider element when it's created</td>
        </tr>
        <tr>
            <td>min</td>
            <td align="center">float</td>
            <td align="center">0</td>
            <td align="left">minimum possible value</td>
        </tr>
        <tr>
            <td>max</td>
            <td align="center">float</td>
            <td align="center">10</td>
            <td align="left">maximum possible value</td>
        </tr>
        <tr>
            <td>step</td>
            <td align="center">float</td>
            <td align="center">1</td>
            <td align="left">increment step</td>
        </tr>
        <tr>
            <td>precision</td>
            <td align="center">float</td>
            <td align="center">number of digits after the decimal of <em>step</em> value</td>
            <td align="left">The number of digits shown after the decimal. Defaults to the number of digits after the decimal of <em>step</em> value.</td>
        </tr>
        <tr>
            <td>orientation</td>
            <td align="center">string</td>
            <td align="center">'horizontal'</td>
            <td align="left">set the orientation. Accepts 'vertical' or 'horizontal'</td>
        </tr>
        <tr>
            <td>value</td>
            <td align="center">float,array</td>
            <td align="center">5</td>
            <td align="left">initial value. Use array to have a range slider.</td>
        </tr>
        <tr>
            <td>range</td>
            <td align="center">bool</td>
            <td align="center">false</td>
            <td align="left">make range slider. Optional if initial value is an array. If initial value is scalar, max will be used for second value.</td>
        </tr>
        <tr>
            <td>selection</td>
            <td align="center">string</td>
            <td align="center">'before'</td>
            <td align="left">selection placement. Accepts: 'before', 'after' or 'none'. In case of a range slider, the selection will be placed between the handles</td>
        </tr>
        <tr>
            <td>tooltip</td>
            <td align="center">string</td>
            <td align="center">'show'</td>
            <td align="left">whether to show the tooltip on drag, hide the tooltip, or always show the tooltip. Accepts: 'show', 'hide', or 'always'</td>
        </tr>
        <tr>
            <td>tooltip_split</td>
            <td align="center">bool</td>
            <td align="center">false</td>
            <td align="left">if false show one tootip if true show two tooltips one for each handler</td>
        </tr>
        <tr>
            <td>tooltip_position</td>
            <td align="center">string</td>
            <td align="center">null</td>
            <td align="left">Position of tooltip, relative to slider. Accepts 'top'/'bottom' for horizontal sliders and 'left'/'right' for vertically orientated sliders. Default positions are 'top' for horizontal and 'right' for vertical slider.</td>
        </tr>
        <tr>
            <td>handle</td>
            <td align="center">string</td>
            <td align="center">'round'</td>
            <td align="left">handle shape. Accepts: 'round', 'square', 'triangle' or 'custom'</td>
        </tr>
        <tr>
            <td>reversed</td>
            <td align="center">bool</td>
            <td align="center">false</td>
            <td align="left">whether or not the slider should be reversed</td>
        </tr>
        <tr>
            <td>rtl</td>
            <td align="center">bool</td>
            <td align="center">string</td>
            <td align="left">'auto'</td>
        </tr>
        <tr>
            <td>enabled</td>
            <td align="center">bool</td>
            <td align="center">true</td>
            <td align="left">whether or not the slider is initially enabled</td>
        </tr>
        <tr>
            <td>formatter</td>
            <td align="center">function</td>
            <td align="center">returns the plain value</td>
            <td align="left">formatter callback. Return the value wanted to be displayed in the tooltip, useful for string values. If a string is returned it will be indicated in an <code>aria-valuetext</code> attribute.</td>
        </tr>
        <tr>
            <td>natural_arrow_keys</td>
            <td align="center">bool</td>
            <td align="center">false</td>
            <td align="left">The natural order is used for the arrow keys. Arrow up select the upper slider value for vertical sliders, arrow right the righter slider value for a horizontal slider - no matter if the slider was reversed or not. By default the arrow keys are oriented by arrow up/right to the higher slider value, arrow down/left to the lower slider value.</td>
        </tr>
        <tr>
            <td>ticks</td>
            <td align="center">array</td>
            <td align="center">[ ]</td>
            <td align="left">Used to define the values of ticks. Tick marks are indicators to denote special values in the range. This option overwrites min and max options.</td>
        </tr>
        <tr>
            <td>ticks_positions</td>
            <td align="center">array</td>
            <td align="center">[ ]</td>
            <td align="left">Defines the positions of the tick values in percentages. The first value should always be 0, the last value should always be 100 percent.</td>
        </tr>
        <tr>
            <td>ticks_labels</td>
            <td align="center">array</td>
            <td align="center">[ ]</td>
            <td align="left">Defines the labels below the tick marks. Accepts HTML input.</td>
        </tr>
        <tr>
            <td>ticks_snap_bounds</td>
            <td align="center">float</td>
            <td align="center">0</td>
            <td align="left">Used to define the snap bounds of a tick. Snaps to the tick if value is within these bounds.</td>
        </tr>
        <tr>
            <td>ticks_tooltip</td>
            <td align="center">bool</td>
            <td align="center">false</td>
            <td align="left">Used to allow for a user to hover over a given tick to see it's value. Useful if custom formatter passed in</td>
        </tr>
        <tr>
            <td>scale</td>
            <td align="center">string</td>
            <td align="center">'linear'</td>
            <td align="left">Set to 'logarithmic' to use a logarithmic scale.</td>
        </tr>
        <tr>
            <td>focus</td>
            <td align="center">bool</td>
            <td align="center">false</td>
            <td align="left">Focus the appropriate slider handle after a value change.</td>
        </tr>
        <tr>
            <td>labelledby</td>
            <td align="center">string,array</td>
            <td align="center">null</td>
            <td align="left">ARIA labels for the slider handle's, Use array for multiple values in a range slider.</td>
        </tr>
        <tr>
            <td>rangeHighlights</td>
            <td align="center">array</td>
            <td align="center">[]</td>
            <td align="left">Defines a range array that you want to highlight, for example: [{'start':val1, 'end': val2, 'class': 'optionalAdditionalClassName'}].</td>
        </tr>
        </tbody>
    </table>

    <p>除了getValue可以获取滑动条值外，滑动条可以支持的所有函数列表如下</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Function</th>
            <th>Parameters</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>getValue</td>
            <td>---</td>
            <td>Get the current value from the slider</td>
        </tr>
        <tr>
            <td>setValue</td>
            <td>newValue, <em>triggerSlideEvent</em>, <em>triggerChangeEvent</em></td>
            <td>Set a new value for the slider. If optional triggerSlideEvent parameter is <em>true</em>, 'slide' events will be triggered. If optional triggerChangeEvent parameter is <em>true</em>, 'change' events will be triggered. This function takes <code>newValue</code> as either a <code>Number</code>, <code>String</code>, <code>Array</code>. If the value is of type <code>String</code> it must be convertable to an integer or it will throw an error.</td>
        </tr>
        <tr>
            <td>getElement</td>
            <td>---</td>
            <td>Get the div slider element</td>
        </tr>
        <tr>
            <td>destroy</td>
            <td>---</td>
            <td>Properly clean up and remove the slider instance</td>
        </tr>
        <tr>
            <td>disable</td>
            <td>---</td>
            <td>Disables the slider and prevents the user from changing the value</td>
        </tr>
        <tr>
            <td>enable</td>
            <td>---</td>
            <td>Enables the slider</td>
        </tr>
        <tr>
            <td>toggle</td>
            <td>---</td>
            <td>Toggles the slider between enabled and disabled</td>
        </tr>
        <tr>
            <td>isEnabled</td>
            <td>---</td>
            <td>Returns true if enabled, false if disabled</td>
        </tr>
        <tr>
            <td>setAttribute</td>
            <td>attribute, value</td>
            <td>Updates the slider's <a href="#">attributes</a></td>
        </tr>
        <tr>
            <td>getAttribute</td>
            <td>attribute</td>
            <td>Get the slider's <a href="#">attributes</a></td>
        </tr>
        <tr>
            <td>refresh</td>
            <td>---</td>
            <td>Refreshes the current slider</td>
        </tr>
        <tr>
            <td>on</td>
            <td>eventType, callback</td>
            <td>When the slider event <em>eventType</em> is triggered, the callback function will be invoked</td>
        </tr>
        <tr>
            <td>off</td>
            <td>eventType, callback</td>
            <td>Removes the callback function from the slider event <em>eventType</em></td>
        </tr>
        <tr>
            <td>relayout</td>
            <td>---</td>
            <td>Renders the tooltip again, after initialization. Useful in situations when the slider and tooltip are initially hidden.</td>
        </tr></tbody></table>

    <div style="height:300px;"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-slider.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../echarts/echarts-3.8.0.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function () {
        var slider = $('#sliderId').slider({
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        });

        $("#sliderId").on("slide", function(slider){
            $("#sliderVal").text(slider.value);
        });

        // 获取slider值的方法
        var sliderValue = $("#sliderId").slider("getValue");
        $("#sliderVal").text(sliderValue);
    });

</script>
</html>