<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固定文本标签</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>固定文本标签</h1>
        <p class="lead">固定文本标签使用演示</p>
    </div>

    <div class="well">
        <div>
            <label id="label" style="color:red;width:100px;height:50px; font-size:16px;">标签文字</label>
        </div>
        <div>
            <span id="span" style="color:blue;width:100px;height:50px; font-size:20px;">span文字</span>
        </div>
        <div>
            <p id="p" style="color:orange;width:300px;height:50px; font-size:24px;text-indent: 2em;">段落文字</p>
        </div>

        <div>
            <button id="getText" class="btn btn-default">获取文本</button>
            <button id="setText" class="btn btn-default">设置文本</button>
            <button id="setStyle" class="btn btn-default">设置样式</button>
            <button id="reset" class="btn btn-default">复原</button>
        </div>
    </div>


    <h3>基本使用方法</h3>
    <p style="text-indent: 2em;">
        在html中有三种显示固定文本的标签，文本的属性由css确定。css有两种指定方式，一种为直接写在style属性中。
        另外一种则制定css文件，在属性中使用class指定css类别。
    </p>
    <p style="text-indent: 2em;">
        直接使用style指定如下：
    </p>
    <pre><code>
    &lt;div&gt;
        &lt;label id="label" style="color:red;width:100px;height:50px; font-size:16px;"&gt;标签文字&lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;span id="span" style="color:blue;width:100px;height:50px; font-size:20px;"&gt;span文字&lt;/span&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;p id="p" style="color:orange;width:300px;height:50px; font-size:24px;text-indent: 2em;"&gt;段落文字&lt;/p&gt;
    &lt;/div&gt;
    </code></pre>

    <p style="text-indent: 2em;">
        使用css样式时，示例如下：
    </p>
    <pre><code>
    &lt;div&gt;
        &lt;label class="label"&gt;标签文字&lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;span class="span"&gt;span文字&lt;/span&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;p class="p"&gt;段落文字&lt;/p&gt;
    &lt;/div&gt;
    </code></pre>

    <p style="text-indent: 2em;">css文件如下：</p>
    <pre><code>
    .label {
        color:red;
        width:100px;
        height:50px;
        font-size:16px;
    }
    .span {
        color:blue;
        width:100px;
        height:50px;
        font-size:20px;
    }
    .p {
        color:orange;
        width:300px;
        height:50px;
        font-size:24px;
    }
    </code></pre>

    <p>
        在上述样式中，p表示段落，其css样式中有 text-indent 表示段落开头空几个字符。
    </p>
    <p>
        除了使用静态的css方法外，还可以使用javascript动态改变元素的属性。
    </p>
    <pre><code>
    $(document).ready(function () {
        $("#getText").click(function() {
            var text = "label: " + $("#label").text() + "\n"
                  + "span: " + $("#span").text() + "\n"
                  + "p: " + $("#p").text();
            alert(text);
        });

        $("#setText").click(function() {
            $("#label").text("新设置的label");
            $("#span").text("新设置的span");
            $("#p").text("新设置的p");
        });

        $("#setStyle").click(function() {
            $("#label").css("color", "black");
            $("#span").css("font-size", "30px");
            $("#p").css("text-indent", "0");
        });

        $("#reset").click(function () {
            $("#label").text("标签文字")
                 .css("color", "red").css("width", "100px")
                 .css("height", "50px").css("font-size", "16px");

            $("#span").text("span文字")
                .css("color", "blue").css("width", "100px")
                .css("height", "50px").css("font-size", "20px");

            $("#p").text("段落文字")
                .css("color", "orange").css("width", "300px")
                .css("height", "50px").css("font-size", "24px")
                .css("text-indent", "2em");
        });
    });
    </code></pre>
    <div style="height:300px;"></div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    $(document).ready(function () {
       $("#getText").click(function() {
          var text = "label: " + $("#label").text() + "\n"
                + "span: " + $("#span").text() + "\n"
                + "p: " + $("#p").text();
           alert(text);
       });

        $("#setText").click(function() {
            $("#label").text("新设置的label");
            $("#span").text("新设置的span");
            $("#p").text("新设置的p");
        });

        $("#setStyle").click(function() {
            $("#label").css("color", "black");
            $("#span").css("font-size", "30px");
            $("#p").css("text-indent", "0");
        });

        $("#reset").click(function () {
            $("#label").text("标签文字")
                    .css("color", "red").css("width", "100px")
                    .css("height", "50px").css("font-size", "16px");

            $("#span").text("span文字")
                    .css("color", "blue").css("width", "100px")
                    .css("height", "50px").css("font-size", "20px");

            $("#p").text("段落文字")
                    .css("color", "orange").css("width", "300px")
                    .css("height", "50px").css("font-size", "24px")
                    .css("text-indent", "2em");
        });
    });

</script>
</html>