<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格展示页面</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../DataTables/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../highlight/styles/rainbow.css">
    <link rel="stylesheet" href="../../css/ustb.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>表格使用方法展示页面</h1>
        <p class="lead">基于开源DataTable实现</p>
        <p>参考链接：<a href="https://www.datatables.net">https://www.datatables.net</a></p>
    </div>

    <h3>基本使用方法</h3>
    <p>在html文档的header区域引入datatable的样式文件，在body底部引入javascript文件。请注意引入的文件路径</p>
    <pre><code class="html">
        &lt;link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"&gt;
        &lt;link rel="stylesheet" type="text/css" href="../../DataTables/datatables.css"&gt;
        &lt;link rel="stylesheet" href="../../highlight/styles/rainbow.css"&gt;
        &lt;link rel="stylesheet" href="../../css/ustb.css"&gt;

        &lt;script src="../../jquery-3.2.1/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
        &lt;script src="../../bootstrap-3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;
        &lt;script src="../../highlight/highlight.pack.js"&gt;&lt;/script&gt;
        &lt;script type="text/javascript" charset="utf8" src="../../DataTables/datatables.js"&gt;&lt;/script&gt;
        &lt;script src="../../js/q.js""&gt;&lt;/script"&gt;
        &lt;script src="../../js/ustb.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>创建用于演示绑定标签的HTML表格，可按照html规范定制其样式</p>
    <pre><code>&lt;table id="table1"&gt;&lt;/table&gt;
    </code></pre>

    <p>绑定标签，点击按钮可以调用ustb.sendTag发送随机标签到服务器，以观察绑定数据是否改变</p>
    <pre><code>
// 绑定标签
$(document).ready(function() {
    // 构造表格数据
    var opts = {
        // 列配置，指定需显示的列。如果希望改变列标题，只需要将该列配置为json对象，例如Col3
        // 指定标题时，标题由title指定，列由field指定
        // "columns": ["Value", "Title"],

        // 指定要绑定的标签
        "tag": "F1Curve"
    };

     // selector: #tableId 的形式
     ustb.makeTable("#table1", opts);
});
    </code></pre>

    <p>需要注意的是，如果后台没有任何数据返回，且没有指定columns，则表格区域什么都不会显示，为解决此问题，可以在opts中配置好columns列头</p>
    <button id="btnChangeF1Curve" class="btn btn-default">随机改变标签值</button>

    <div style="width:500px;">
        <table id="table1"></table>
    </div>

    <p>创建一个空的HTML表格，可按照html规范定制其样式</p>
    <pre><code>&lt;table id="table2"&gt;&lt;/table&gt;
    </code></pre>

    <p>直接绑定数据，以下例子中的选项在绑定标签时也可以使用</p>
    <pre><code>
$(document).ready(function () {
    // 构造表格数据
    var opts = {
        // 列配置，指定需显示的列。如果希望改变列标题，只需要将该列配置为json对象，例如Col3
        // 指定标题时，标题由title指定，列由field指定
        "columns": ["Col2", "Col4", { "title": "Col3列", "field": "Col3"}],

        // 是否分页显示，如果支持分页显示，则每页显示记录数由 pageSize决定
        // 不分页显示，则不会看到分页按钮
        "paging": true,

        // 每页显示记录数，默认为10
        "pageSize": 10,

        // 直接绑定数据
        "data": [
            {
                "Col1": "1 - 1",
                "Col2": "1 - 2",
                "Col3": "1 - 3",
                "Col4": "1 - 4",
                "Col5": "1 - 5"
            },
            {
                "Col1": "2 - 1",
                "Col2": "2 - 2",
                "Col3": "2 - 3",
                "Col4": "2 - 4",
                "Col5": "2 - 5"
            }
        ]
    };

    // selector: #tableId 的形式
    ustb.makeTable("#table2", opts);
});
    </code></pre>

    <div style="width:500px;">
        <table id="table2"></table>
    </div>


    <p>从数据库中获取数据并进行绑定的示例如下</p>
    <pre><code>
$(document).ready(function() {
    ustb.executeQuery({
        db: "mysql",
        sql: "select * from demo"
    }, function(response) {
        if (response.code == 0) {
            ustb.makeTable("#table3", {
                  data: response.data
            });
        }
    });
});
    </code></pre>

    <div style="width:500px;">
        <table id="table3"></table>
    </div>
</div>
</body>

<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../highlight/highlight.pack.js"></script>
<script type="text/javascript" charset="utf8" src="../../DataTables/datatables.js"></script>
<script src="../../js/q.js"></script>
<script src="../../js/ustb.js"></script>

<script language="JavaScript">
    hljs.initHighlightingOnLoad();

    // 绑定标签
    $(document).ready(function() {
        // 构造表格数据
        var opts = {
            // 列标题，如果不指定，则为属性名称
            // "columns": ["列1", "列2"],

            // 指定要绑定的标签
            "tag": "F1Curve"
        };

        // selector: #tableId 的形式
        ustb.makeTable("#table1", opts);
    });


    // 指定数据绑定
    $(document).ready(function () {
        // 构造表格数据
        var opts = {
            // 列配置，指定需显示的列。如果希望改变列标题，只需要将该列配置为json对象，例如Col3
            // 指定标题时，标题由title指定，列由field指定
            "columns": ["Col2", "Col4", { "title": "Col3列", "field": "Col3"}],

            // 是否分页显示，如果支持分页显示，则每页显示记录数由 pageSize决定
            // 不分页显示，则不会看到分页按钮
            "paging": true,

            // 每页显示记录数，默认为10
            "pageSize": 10,

            // 直接绑定数据
            "data": [
                {
                    "Col1": "1 - 1",
                    "Col2": "1 - 2",
                    "Col3": "1 - 3",
                    "Col4": "1 - 4",
                    "Col5": "1 - 5"
                },
                {
                    "Col1": "2 - 1",
                    "Col2": "2 - 2",
                    "Col3": "2 - 3",
                    "Col4": "2 - 4",
                    "Col5": "2 - 5"
                }
            ]
        };

        // selector: #tableId 的形式
        ustb.makeTable("#table2", opts);
    });

    $(document).ready(function(){
        $("#btnChangeF1Curve").click(function(){
            var len = Math.floor(Math.random()*20) + 1;
            var tag = {
                "name": "F1Curve",
                "dataList": []
            };

            for (var i=0; i<len; i++) {
                var data = {
                    "Text": ustb.randomStr(),
                    "Value": ustb.randomStr()
                };
                tag.dataList.push(data);
            }

            var tags = [ tag ];
            ustb.sendTag(tags, function(response) {
                console.log("send tag completed. " + JSON.stringify(response));
            })
        });
    });

    $(document).ready(function() {
       ustb.executeQuery({
           db: "mysql",
           sql: "select * from demo"
       }, function(response) {
           if (response.code == 0) {
               ustb.makeTable("#table3", {
                   data: response.data
               });
           }
       });
    });
</script>
</html>